<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <title>Pedidos</title>
</head>
<body >
    
    <div style="margin: 0.25em; text-align: center;">
    <div class="card-panel teal accent-3"><h1 style="text-align: center;">ATR PEDIDOS</h1></div>
            

    <ul id="tabs-swipe-demo" class="tabs">
        <li class="tab col s3"><a class="active" href="#pnentregados">No Entregados</a></li>
        <li class="tab col s3"><a href="#pentregados">Entregados</a></li>
    </ul>
    <div id="pnentregados" class="col s12 scroller">
        <ul name="collapsible" id="collapsible" class="collapsible popout" style="text-align: center;">
            {% for pedido in noentregados %}
            <li style="text-align: center;">
                <div class="collapsible-header red accent-2 direc-text{{pedido.1}}" style="text-align: auto;"><i class="material-icons">place</i> {{pedido.0.direccion}} </div>
                <div class="collapsible-body">
                    <div class="collection">
                        <a class="collection-item pedido-text{{pedido.1}}">
                            Pedido: {{ pedido.0.descripcion }} 
                        </a>
                        <a class="collection-item total-text{{pedido.1}}">
                            Total: {{ pedido.0.total }} 
                        </a>
                    </div>
                    <div>
                        <a id="modalbutton{{pedido.1}}" class="waves-effect waves-light btn modal-trigger" href="#modalconf" style="margin-top: 0.5em;">   
                            <i class="material-icons left">check</i>Confirmar
                        </a>
                    </div>
                </div>
            </li>
            {% endfor %}   
        </ul>
    </div>
    <div id="pentregados" class="col s12 scroller">
        <ul class="collapsible popout" style="text-align: center;">
            {% for pedido in entregados %}
            <li style="text-align: center;">
                <div class="collapsible-header green accent-3" style="text-align: auto;"><i class="material-icons">place</i> {{pedido.direccion}} </div>
                <div class="collapsible-body">
                    <div class="collection">
                        <a class="collection-item">
                            Pedido: {{ pedido.descripcion }} 
                        </a>
                        <a class="collection-item">
                            Total: {{ pedido.total }} 
                        </a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div id="modalconf" class="modal bottom-sheet" style="text-align: center;">
        <div class="modal-content">        
        <h5 id="modalh"><i class="material-icons">place</i>Algo</h5>
        <div class="row" style="text-align: center;">
            <form name="confirmacionform" id="confirmacionform" method="post" action="" class="col s12" style="margin-left: 10px;">
            {% csrf_token %}
            <div class="input-field col s10">
                <i class="material-icons prefix">edit</i>
                <input value="direccion" name="modalpedido" id="modalpedido" type="text" class="validate" required>
                <label for="modalpedido">Pedido</label>
            </div>
            <div class="input-field inline col s5">
                <i class="material-icons prefix">monetization_on</i>
                <input value="1000" name="modaltotal" id="modaltotal" type="number" step="any" id="monetization_on"  class="validate" required>
                <label for="modaltotal">Total</label>
            </div>
            <div class="input-field col s5">
                <input name="submitmodalconf" id="submitmodalconf" type="submit" class="validate btn waves-effect waves-light" required value="Confirmar">
            </div>
            <input type="hidden" name="confirmval" id="confirmval" value="{{noentregados|length}}"/>        
            </form>
        </div>
        </div>
    </div>

    <form name="mapa" id="mapa" method="post" action="/pedidos/routeurl/">
        <div class="fixed-action-btn">
            {% csrf_token %}
            <a class="btn-floating btn-large waves-effect waves-light red" target="_blank">
            <i class="large material-icons">add</i>
            </a>
            <input type="hidden" name="ubicacion" id="ubicacion" value="0"/>
        </div>
    </form>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light red modal-trigger" href="#modaladd" target="_blank">
            <i class="large material-icons">add</i>
        </a>
    </div>

    <div id="modaladd" class="modal" style="text-align: center;">
        <div class="modal-content">
            <h4>Nuevo Pedido</h4>
            <div class="row" style="text-align: center;">
                <form name="addform" id="addform" method="post" class="col s12" style="text-align: center;" action="">
                    {% csrf_token %}
                    <div class="input-field col s11">
                        <i class="material-icons prefix">place</i>
                        <input name="adddireccion" id="adddireccion" type="text" class="validate" required>
                        <label for="adddireccion">Direccion</label>
                    </div>
                    <div class="input-field col s11">
                        <i class="material-icons prefix">edit</i>
                        <input name="addpedido" id="addpedido" type="text" class="validate" required>
                        <label for="addpedido">Pedido</label>
                    </div>
                    <div class="input-field col s11">
                        <i class="material-icons prefix">monetization_on</i>
                        <input name="addtotal" id="addtotal" type="number" step="any" class="validate" required>
                        <label for="addtotal">Total</label>
                    </div>
                    <div class="input-field col s11">
                        <input name="addsubmit" id="addsubmit" type="submit" class="validate btn waves-effect waves-light" required value="Agregar">
                    </div>                    
                </form>
            </div>
        </div>
    </div>

    <div class="row center"  style="width: max-content;">
        <a name="enviar" id="enviar" class="btn-large waves-effect waves-light" target="_blank"><i class="material-icons left">directions_car</i>Mapa</a>
    </div>

    <style>
        .scroller{
            overflow-x: hidden;
        }
    </style>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        
        document.addEventListener('DOMContentLoaded', function() {
            M.AutoInit();
            M.updateTextFields();
          
            var colaps = document.getElementById("collapsible");
            var elems = document.querySelectorAll('.collapsible');
            var instances = M.Collapsible.init(colaps, options);

            document.getElementById("ubicacion").value = "0";
            var tabs = document.getElementById("tabs-swipe-demo");
            var options = {'swipeable' : true}
            var mytabs = M.Tabs.init(tabs, options);
            var tabs2 = document.getElementById("tabs-swipe-demo2");
            var options = {'swipeable' : true}
            var mytabs = M.Tabs.init(tabs2, options);
        });

        var latitud = 0;
        var longitud = 0;

        var options = {
        enableHighAccuracy: true,
        timeout: 5000,
        maximumAge: 0
        };

        function success(pos) {
        var crd = pos.coords;
        latitud = crd.latitude;
        longitud = crd.longitude;

        document.getElementById("ubicacion").value = [latitud,longitud]; 
        }

        function error(err) {
        console.warn(`ERROR(${err.code}): ${err.message}`);
        }

        navigator.geolocation.getCurrentPosition(success, error, options);

        document.getElementById("enviar").addEventListener("click", function(){            
            document.getElementById("mapa").submit();
        });        

        function findmodal(id){
            var clase = ".direc-text" + String(id);
            var direccion = document.getElementById("pnentregados").querySelectorAll(clase)[0].innerText.split("place")[1];
            clase = ".pedido-text" + String(id);
            var pedido = document.getElementById("pnentregados").querySelectorAll(clase)[0].innerText.split(":")[1];
            clase = ".total-text" + String(id);
            var total = document.getElementById("pnentregados").querySelectorAll(clase)[0].innerText.split(":")[1];
            document.getElementById("modalh").innerHTML = "<i class=\"material-icons\">place</i>" + direccion.trim();
            document.getElementById("modalpedido").value = pedido.trim();
            document.getElementById("modaltotal").value = parseFloat(total.trim());
            document.getElementById("confirmval").value = String(id);            
         }


        var ids = [{% for pedido in noentregados %} {{pedido.1}}, {% endfor %}];
        var hasta = ids.length;
        for (var i = 0; i < hasta; i++) {
            (function(){ 
                modalbutton = "modalbutton" + ids[i];
                var k = i;
                document.getElementById(modalbutton).addEventListener("click",function(){findmodal(ids[k]);});
            }());
        }

        
    </script>
</body>
</html>